<mat-nav-list>
  <a mat-list-item routerLink="/services" class="side-nav-item" (click)="onSideNavClose();">
    <fa-icon [icon]="faCogs"></fa-icon>
    <span class="nav-caption">Послуги</span>
  </a>
  <a mat-list-item routerLink="/contacts" class="side-nav-item" (click)="onSideNavClose();">
    <fa-icon [icon]="faFileSignature"></fa-icon>
    <span class="nav-caption">Контакти</span>
  </a>
  <a mat-list-item routerLink="/" class="side-nav-item" (click)="onSideNavClose();">
    <fa-icon [icon]="faInfoCircle"></fa-icon>
    <span class="nav-caption">Інформація</span>
  </a>
  <a mat-list-item routerLink="/questions" class="side-nav-item" (click)="onSideNavClose();">
    <fa-icon [icon]="faQuestionCircle"></fa-icon>
    <span class="nav-caption">Запитання</span>
  </a>
  <a mat-list-item routerLink="/notifications" class="side-nav-item" (click)="onSideNavClose();">
    <fa-icon [icon]="faBell"></fa-icon>
    <span class="nav-caption">Оголошення</span>
  </a>
  <a mat-list-item routerLink="/dashboard" class="side-nav-item" (click)="onSideNavClose();">
    <fa-icon [icon]="faTools"></fa-icon>
    <span class="nav-caption">Адміністрування</span>
  </a>
  <a mat-list-item routerLink="/notifications" class="side-nav-item" (click)="onSideNavClose();">
    <fa-icon [icon]="faSignInAlt"></fa-icon>
    <span class="nav-caption">Вхід</span>
  </a>
  <div class="site-name">
    <img src="assets/images/logo_transparent.png" height="40">
    <span>Комфорт-Dім</span>
  </div>
</mat-nav-list>
