$darkSiteColor: #403121;
$lightSiteColor: #ed9728;
$veryLightSiteColor: #ffbc49;
$ultraLightSiteColor: #ffffbf;
$middleSiteColor: #a65e09;
$blackSiteColor: #000000;
$whiteSiteColor: #ffffff;

a.side-nav-item
{
  text-decoration: none;
  color: $darkSiteColor;
  font-family: 'Montserrat Alternates', sans-serif;
}
a:hover,
a:active
{
  color: $middleSiteColor;
}
.nav-caption
{
  display: inline-block;
  padding-left: 6px;
}
mat-nav-list
{

}
