<div class="footer transitionStyle">
  <div class="footer-nav transitionStyle">
    <a routerLink="/services" class="nav-link transitionStyle">
      <fa-icon [icon]="faTools"></fa-icon>
      Послуги
    </a>
    <a routerLink="/contacts" class="nav-link transitionStyle">
      <fa-icon [icon]="faFileSignature"></fa-icon>
      Контакти
    </a>
    <a routerLink="/" class="nav-link transitionStyle">
      <fa-icon [icon]="faInfoCircle"></fa-icon>
      Інформація
    </a>
    <a routerLink="/questions" class="nav-link transitionStyle">
      <fa-icon [icon]="faQuestionCircle"></fa-icon>
      Запитання
    </a>
    <a routerLink="/notifications" class="nav-link transitionStyle">
      <fa-icon [icon]="faBell"></fa-icon>
      Оголошення
    </a>
  </div>
  <div class="footer-info transitionStyle">
    <a routerLink="/">
      <img src="assets/images/logo_transparent.png" height="100" class="footer-logo">
    </a>
    <div class="footer-title">
      Товариство з обмеженою відповідальністю<br>"Управляюча компанія "Комфорт-Дім"
    </div>
  </div>
  <div class="footer-address">
    <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
    <div>
      77300 Україна, Івано-Франківська обл., м. Калуш, вул. Грушевського 54
    </div>
  </div>
  <div class="footer-other transitionStyle">
    <div class="order-site">Замовити Сайт:</div>
    <a href="mailto:mvyvdevelopers@gmail.com" class="transitionStyle">
      <fa-icon [icon]="faEnvelopeSquare" class="gitHub"></fa-icon>
      <div>
        mvyvdevelopers@gmail.com
      </div>
    </a>
    <a href="https://github.com/MVYV" target="_blank" class="transitionStyle">
      <fa-icon [icon]="faGithub" class="gitHub"></fa-icon>
      <div>
        GitHub/MVYV
      </div>
      <fa-icon [icon]="faExternalLinkAlt" class="external-link"></fa-icon>
    </a>
  </div>
</div>
