<div class="dashboard-container">
  <p-toast styleClass="custom-toast" [showTransitionOptions]="'800ms ease-out'"
           [hideTransitionOptions]="'800ms ease-out'"></p-toast>
  <p-tabView>
    <p-tabPanel header="Інформація" class="dashboardTab">
      <p-dataView #dv [value]="company" [paginator]="true" [rows]="10" paginatorPosition="both"
                  filterBy="characteristic" [loading]="isLoadingCompanyInfo"
                  [sortField]="sortField" [sortOrder]="sortOrder" [emptyMessage]="'Нічого не знайдено'">
        <p-header>
          <div class="ui-helper-clearfix">
            <div class="addBtn" title="Новий Запис" (click)="addNewCompanyInfo();">
              <fa-icon [icon]="faPlusSquare"></fa-icon>
              Додати Новий Запис
            </div>
            <div class="ui-g header-tools">
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <p-dropdown [options]="companySortOptions" [(ngModel)]="sortKey" placeholder="Сортувати"
                            class="sortDropdown"
                            (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4 filter-container">
                <div style="position:relative; text-align: center;">
                  <input type="search" pInputText placeholder="Пошук за назвою" class="searchInput"
                         (input)="dv.filter($event.target.value)">
                </div>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align:right">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
              </div>
            </div>
          </div>
        </p-header>
        <ng-template let-company_data pTemplate="listItem">
          <div class="ui-g-12 one-item">
            <div class="car-details">
              <div>
                <div class="record_title">{{company_data.characteristic}}</div>
                <div class="record_value">
                  <div>{{company_data.characteristic_value}}</div>
                </div>
                <div class="record_type">{{company_data.characteristic_type}}</div>
              </div>
              <div class="item-btn-container">
                <div class="editBtn" title="Редагувати" (click)="editCompanyInfo(company_data); showCompanyForm();">
                  <fa-icon [icon]="faPencilAlt"></fa-icon>
                </div>
                <div class="deleteBtn" title="Видалити"
                     (click)="editCompanyInfo(company_data); showDeleteDialog('company');">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template let-company_data pTemplate="gridItem">
          <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="company_data.characteristic_type" [style]="{'text-align':'center'}">
              <div class="">{{company_data.characteristic}}</div>
              <div class="record_value_grid">{{company_data.characteristic_value}}</div>
              <!--<hr class="ui-widget-content" style="border-top:0">-->
              <div class="hrBox"></div>
              <div class="item-btn-container-table">
                <div class="editBtn" title="Редагувати" (click)="editCompanyInfo(company_data); showCompanyForm();">
                  <fa-icon [icon]="faPencilAlt"></fa-icon>
                </div>
                <div class="deleteBtn" title="Видалити"
                     (click)="editCompanyInfo(company_data); showDeleteDialog('company');">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </div>
              </div>
            </p-panel>
          </div>
        </ng-template>
      </p-dataView>
    </p-tabPanel>


    <p-tabPanel header="Послуги" class="dashboardTab">
      <ng-template pTemplate="content">
        <p-dataView #dv [value]="_service" [paginator]="true" [rows]="10" paginatorPosition="both"
                    filterBy="service_name" [loading]="isLoadingServiceInfo"
                    [sortField]="sortField" [sortOrder]="sortOrder" [emptyMessage]="'Нічого не знайдено'">
          <p-header>
            <div class="ui-helper-clearfix">
              <div class="addBtn" title="Новий Запис" (click)="addNewServiceInfo();">
                <fa-icon [icon]="faPlusSquare"></fa-icon>
                Додати Новий Запис
              </div>
              <div class="ui-g header-tools">
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                  <p-dropdown [options]="serviceSortOptions" [(ngModel)]="sortKey" placeholder="Сортувати"
                              class="sortDropdown"
                              (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4 filter-container">
                  <div style="position:relative;text-align: center;">
                    <input type="search" pInputText placeholder="Пошук за назвою" class="searchInput"
                           (input)="dv.filter($event.target.value)">
                  </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align:right">
                  <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
              </div>
            </div>
          </p-header>
          <ng-template let-service_data pTemplate="listItem">
            <div class="ui-g-12 one-item">
              <div class="car-details">
                <div>
                  <div class="record_title">{{service_data.service_name}}</div>
                </div>
                <div>
                  <div class="record_type">{{service_data.service_type}}</div>
                </div>
                <div class="item-btn-container">
                  <div class="editBtn" title="Редагувати" (click)="editServiceInfo(service_data); showServiceForm();">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                  </div>
                  <div class="deleteBtn" title="Видалити"
                       (click)="editServiceInfo(service_data); showDeleteDialog('service');">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template let-service_data pTemplate="gridItem">
            <div style="padding:.5em" class="ui-g-12 ui-md-3">
              <p-panel [header]="service_data.service_type" [style]="{'text-align':'center'}">
                <div>{{service_data.service_name}}</div>
                <div class="hrBox"></div>
                <div class="item-btn-container-table">
                  <div class="editBtn" title="Редагувати" (click)="editServiceInfo(service_data); showServiceForm();">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                  </div>
                  <div class="deleteBtn" title="Видалити"
                       (click)="editServiceInfo(service_data); showDeleteDialog('service');">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </div>
                </div>
              </p-panel>
            </div>
          </ng-template>
        </p-dataView>
      </ng-template>
    </p-tabPanel>


    <p-tabPanel header="Контакти" class="dashboardTab">
      <ng-template pTemplate="content">
        <p-dataView #dv [value]="contact" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="contact"
                    [loading]="isLoadingContactInfo"
                    [sortField]="sortField" [sortOrder]="sortOrder" [emptyMessage]="'Нічого не знайдено'">
          <p-header>
            <div class="ui-helper-clearfix">
              <div class="addBtn" title="Новий Запис" (click)="addNewContactInfo();">
                <fa-icon [icon]="faPlusSquare"></fa-icon>
                Додати Новий Запис
              </div>
              <div class="ui-g header-tools">
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                  <p-dropdown [options]="contactSortOptions" [(ngModel)]="sortKey" placeholder="Сортувати"
                              class="sortDropdown"
                              (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4 filter-container">
                  <div style="position:relative; text-align: center;">
                    <input type="search" pInputText placeholder="Пошук за назвою" class="searchInput"
                           (input)="dv.filter($event.target.value)">
                  </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align:right">
                  <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
              </div>
            </div>
          </p-header>
          <ng-template let-contact_data pTemplate="listItem">
            <div class="ui-g-12 one-item">
              <div class="car-details">
                <div>
                  <div class="record_title">{{contact_data.contact}}</div>
                </div>
                <div>
                  <div class="record_type">{{contact_data.contact_type}}</div>
                </div>
                <div class="item-btn-container">
                  <div class="editBtn" title="Редагувати" (click)="editContactInfo(contact_data); showContactForm();">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                  </div>
                  <div class="deleteBtn" title="Видалити"
                       (click)="editContactInfo(contact_data); showDeleteDialog('contact');">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template let-contact_data pTemplate="gridItem">
            <div style="padding:.5em" class="ui-g-12 ui-md-3">
              <p-panel [header]="contact_data.contact_type" [style]="{'text-align':'center'}">
                <div>{{contact_data.contact}}</div>
                <div class="hrBox"></div>
                <div class="item-btn-container-table">
                  <div class="editBtn" title="Редагувати" (click)="editContactInfo(contact_data); showContactForm();">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                  </div>
                  <div class="deleteBtn" title="Видалити"
                       (click)="editContactInfo(contact_data); showDeleteDialog('contact');">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </div>
                </div>
              </p-panel>
            </div>
          </ng-template>
        </p-dataView>
      </ng-template>
    </p-tabPanel>
  </p-tabView>

  <p-dialog header="Форма для додавання і редагування інформації про компанію" [(visible)]="displayCompanyForm"
            [responsive]="true" [maximizable]="false" [modal]="true" [blockScroll]="true" [appendTo]="'body'" [focusOnShow]="false"
            [minY]="70"
            [baseZIndex]="10000">
    <div class="question-form" id="questionForm" #questionForm>
      <div class="question-form-title">
        Додайте, або відредагуйте значення.
      </div>
      <div class="question-line">
      </div>
      <form autocomplete="off" #characteristicForm="ngForm">
        <p-dropdown [options]="characteristicTypes" name="characteristic_types" [(ngModel)]="selectedCharacteristic"
                    placeholder="Оберіть Тип Запису" optionLabel="name" class="contactDropdown" required="true"></p-dropdown>
        <span class="ui-float-label">
          <textarea id="float-input-first-name" type="text" size="30" pInputTextarea name="characteristic"
                    [(ngModel)]="newOrEditedCompanyInfo.characteristic" required></textarea>
          <label for="float-input-first-name">Характеристика Компанії</label>
          <fa-icon [icon]="faDatabase" class="transitionStyle"></fa-icon>
        </span>
        <span class="ui-float-label">
          <input id="float-input-last-name" type="text" size="30" pInputText name="characteristic_value"
                 [(ngModel)]="newOrEditedCompanyInfo.characteristic_value" required>
          <label for="float-input-last-name">Значення Характеристики</label>
          <fa-icon [icon]="faDatabase" class="transitionStyle"></fa-icon>
        </span>
        <div class="form-alert" [hidden]="characteristicForm.valid">
          <div>
            <fa-icon [icon]="faExclamationTriangle"></fa-icon>
            Заповніть всі поля
          </div>
        </div>
        <button *ngIf="isNewCompanyInfo" pButton type="button" label="Додати" [disabled]="!characteristicForm.valid"
                (click)="addOrModifyCompanyInfo(); displayCompanyForm = false;"></button>
        <button *ngIf="!isNewCompanyInfo" pButton type="button" label="Змінити" [disabled]="!characteristicForm.valid"
                (click)="addOrModifyCompanyInfo(); displayCompanyForm = false;"></button>
        <button pButton type="button" label="Скасувати" (click)="displayCompanyForm = false;"></button>
      </form>
    </div>
  </p-dialog>

  <p-dialog header="Форма для додавання і редагування інформації про компанію" [(visible)]="displayContactForm"
            [responsive]="true" [maximizable]="false" [modal]="true" [blockScroll]="true" [appendTo]="'body'" [focusOnShow]="false"
            [minY]="70"
            [baseZIndex]="10000">
    <div class="question-form">
      <div class="question-form-title">
        Додайте, або відредагуйте значення.
      </div>
      <div class="question-line">
      </div>
      <form autocomplete="off" #contactForm="ngForm">
        <p-dropdown [options]="contactTypes" name="contact_types" [(ngModel)]="selectedContact"
                    placeholder="Оберіть Тип Запису" optionLabel="name" class="contactDropdown" required="true"></p-dropdown>
        <span class="ui-float-label">
          <textarea id="float-input-first-name" type="text" size="30" pInputTextarea name="contact"
                    [(ngModel)]="newOrEditedContactInfo.contact" required></textarea>
          <label for="float-input-first-name">Контактна Інформація</label>
          <fa-icon [icon]="faDatabase" class="transitionStyle"></fa-icon>
        </span>
        <div class="form-alert" [hidden]="contactForm.valid">
          <div>
            <fa-icon [icon]="faExclamationTriangle"></fa-icon>
            Заповніть всі поля
          </div>
        </div>
        <button *ngIf="isNewContactInfo" pButton type="button" label="Додати" [disabled]="!contactForm.valid"
                (click)="addOrModifyContactInfo(); displayContactForm = false;"></button>
        <button *ngIf="!isNewContactInfo" pButton type="button" label="Змінити" [disabled]="!contactForm.valid"
                (click)="addOrModifyContactInfo(); displayContactForm = false;"></button>
        <button pButton type="button" label="Скасувати" (click)="displayContactForm = false;"></button>
      </form>
    </div>
  </p-dialog>

  <p-dialog header="Форма для додавання і редагування інформації про компанію" [(visible)]="displayServiceForm"
            [responsive]="true" [maximizable]="false" [modal]="true" [blockScroll]="true" [appendTo]="'body'" [focusOnShow]="false"
            [minY]="70"
            [baseZIndex]="10000">
    <div class="question-form">
      <div class="question-form-title">
        Додайте, або відредагуйте значення.
      </div>
      <div class="question-line">
      </div>
      <form autocomplete="off" #serviceForm="ngForm">
        <p-dropdown [options]="serviceTypes" name="service_types" [(ngModel)]="selectedService"
                    placeholder="Оберіть Тип Запису" optionLabel="name" class="contactDropdown" required="true"></p-dropdown>
        <span class="ui-float-label">
          <textarea id="float-input-first-name" type="text" size="30" pInputTextarea name="_service"
                    [(ngModel)]="newOrEditedServiceInfo.service_name" required></textarea>
          <label for="float-input-first-name">Послуга</label>
          <fa-icon [icon]="faDatabase" class="transitionStyle"></fa-icon>
        </span>
        <div class="form-alert" [hidden]="serviceForm.valid">
          <div>
            <fa-icon [icon]="faExclamationTriangle"></fa-icon>
            Заповніть всі поля
          </div>
        </div>
        <button *ngIf="isNewServiceInfo" pButton type="button" label="Додати" [disabled]="!serviceForm.valid"
                (click)="addOrModifyServiceInfo(); displayServiceForm = false;"></button>
        <button *ngIf="!isNewServiceInfo" pButton type="button" label="Змінити" [disabled]="!serviceForm.valid"
                (click)="addOrModifyServiceInfo(); displayServiceForm = false;"></button>
        <button pButton type="button" label="Скасувати" (click)="displayServiceForm = false;"></button>
      </form>
    </div>
  </p-dialog>

  <p-dialog header="Підтвердіть видалення елемента" [(visible)]="displayDeleteDialog" [responsive]="true"
            [maximizable]="false" [modal]="true" [blockScroll]="true" [appendTo]="'body'" [minY]="70" [focusOnShow]="false"
            [baseZIndex]="10000">
    <div class="deleteDialogBox">
      <div class="deletion-icon">
        <fa-icon [icon]="faExclamationTriangle" class="transitionStyle"></fa-icon>
      </div>
      <h1 *ngIf="databaseKey === 'company'">Справді видалити цю характеристику компанії?<br><br><span
        class="selectedDeletion">{{newOrEditedCompanyInfo.characteristic}}</span></h1>
      <h1 *ngIf="databaseKey === 'service'">Справді видалити цю послугу, яку надає компанія?<br><br><span
        class="selectedDeletion">{{newOrEditedServiceInfo.service_name}}</span></h1>
      <h1 *ngIf="databaseKey === 'contact'">Справді видалити цей контакт компанії?<br><br><span
        class="selectedDeletion">{{newOrEditedContactInfo.contact}}</span></h1>
      <div class="btn-container">
        <div class="delBtn transitionStyle" title="Видалити" *ngIf="databaseKey === 'company'"
             (click)="deleteCompanyInfo(); hideDeleteDialog();">
          <fa-icon [icon]="faCheck"></fa-icon>
        </div>
        <div class="delBtn transitionStyle" title="Видалити" *ngIf="databaseKey === 'service'"
             (click)="deleteServiceInfo(); hideDeleteDialog();">
          <fa-icon [icon]="faCheck"></fa-icon>
        </div>
        <div class="delBtn transitionStyle" title="Видалити" *ngIf="databaseKey === 'contact'"
             (click)="deleteContactInfo(); hideDeleteDialog();">
          <fa-icon [icon]="faCheck"></fa-icon>
        </div>
        <div class="cancelBtn transitionStyle" title="Скасувати" (click)="hideDeleteDialog();">
          <fa-icon [icon]="faTimes"></fa-icon>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
