$darkSiteColor: #403121;
$lightSiteColor: #ed9728;
$veryLightSiteColor: #ffbc49;
$middleSiteColor: #a65e09;

.sideNavBtn
{
  margin-right: 15px;
  cursor: pointer;
}
a.nav-link
{
  font-size: 14px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
  text-decoration: none;
  color: $darkSiteColor;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a.nav-link::after
{
  content: "";
  width: 0;
  height: 2px;
  background-color: #403121;
  position: absolute;
  top: 20px;
  left: 0;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}
a.nav-link:active
{
  color: $lightSiteColor;
}
a.nav-link:hover::after
{
  width: 100%;
}
a.site-name
{
  display: inline-block;
  position: relative;
  width: 200px;
  text-decoration: none;
  color: $darkSiteColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img
  {
    margin-top: 8px;
  }
  span
  {
    position: absolute;
    left: 50px;
    top: 13px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
}
a.site-name:hover
{
  color: $darkSiteColor;
}
.navigation-items
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
mat-toolbar
{
  //background: rgb(166,94,9);
  //background: -moz-linear-gradient(top, rgba(166,94,9,1) 0%, rgba(237,151,40,1) 49%, rgba(237,151,40,1) 51%, rgba(166,94,9,1) 100%);
  //background: -webkit-linear-gradient(top, rgba(166,94,9,1) 0%,rgba(237,151,40,1) 49%,rgba(237,151,40,1) 51%,rgba(166,94,9,1) 100%);
  //background: linear-gradient(to bottom, rgba(166,94,9,1) 0%,rgba(237,151,40,1) 49%,rgba(237,151,40,1) 51%,rgba(166,94,9,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a65e09', endColorstr='#a65e09',GradientType=0 );

  background-color: $veryLightSiteColor;

  //color: $darkSiteColor;
  position: sticky;
  top: 0;
  //border-bottom: 5px solid $darkSiteColor;
  -webkit-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, .7);
  -moz-box-shadow:    0 5px 5px 0 rgba(50, 50, 50, .7);
  box-shadow:         0 5px 5px 0 rgba(50, 50, 50, .7);
}
