$darkSiteColor: #403121;
$lightSiteColor: #ed9728;
$veryLightSiteColor: #ffbc49;
$ultraLightSiteColor: #ffffbf;
$middleSiteColor: #a65e09;
$blackSiteColor: #000000;
$whiteSiteColor: #ffffff;

.sideNavBtn
{
  margin-right: 15px;
  cursor: pointer;
}
a.nav-link-icon
{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: $blackSiteColor;
  display: inline-block;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a.nav-link
{
  font-size: 14px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
  text-decoration: none;
  text-transform: uppercase;
  color: $blackSiteColor;
  display: inline-block;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fa-icon
  {
    font-size: 16px;
  }
}
a.nav-link::after
{
  content: "";
  width: 0;
  height: 2px;
  background-color: $darkSiteColor;
  position: absolute;
  top: 27px;
  left: 0;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}
a.nav-link:active
{
  color: $lightSiteColor;
}
a.nav-link:hover::after
{
  width: 100%;
}
a.site-name
{
  display: inline-block;
  position: relative;
  width: 200px;
  text-decoration: none;
  color: $blackSiteColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img
  {
    margin-top: 8px;
  }
  span
  {
    position: absolute;
    left: 50px;
    top: 13px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
}
a.site-name:hover
{
  color: $darkSiteColor;
}
.navigation-items
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
mat-toolbar
{
  background-color: $veryLightSiteColor;
  position: fixed;
  z-index: 1000;
  top: 0;
  -webkit-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, .7);
  -moz-box-shadow:    0 5px 5px 0 rgba(50, 50, 50, .7);
  box-shadow:         0 5px 5px 0 rgba(50, 50, 50, .7);
}
