<mat-toolbar>
  <div fxHide.gt-xs  class="sideNavBtn">
    <fa-icon [icon]="faBars" (click)="onToggleSideNav();"></fa-icon>
  </div>
  <div>
    <a routerLink="/" class="site-name">
      <img src="assets/images/logo_transparent.png" height="40">
      <span>Комфорт-Дім</span>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/services" class="nav-link">
          <fa-icon [icon]="faCogs"></fa-icon>
          Послуги
        </a>
      </li>
      <li>
        <a routerLink="/contacts" class="nav-link">
          <fa-icon [icon]="faFileSignature"></fa-icon>
          Контакти
        </a>
      </li>
      <li>
        <a routerLink="/" class="nav-link">
          <fa-icon [icon]="faInfoCircle"></fa-icon>
          Інформація
        </a>
      </li>
      <li>
        <a routerLink="/questions" class="nav-link">
          <fa-icon [icon]="faQuestionCircle"></fa-icon>
          Запитання
        </a>
      </li>
      <li>
        <a routerLink="/notifications" class="nav-link">
          <fa-icon [icon]="faBell"></fa-icon>
          Оголошення
        </a>
      </li>
      <!--<li>-->
        <!--<a routerLink="/about" class="nav-link">-->
          <!--<fa-icon [icon]="faUsers"></fa-icon>-->
          <!--Про Нас-->
        <!--</a>-->
      <!--</li>-->
      <li>
        <a routerLink="/login" class="nav-link-login">
          <fa-icon [icon]="faSignInAlt"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
