<div class="progressSpinnerBox" [hidden]="!isDataLoading">
  <p-progressBar mode="indeterminate" [style]="{'height': '10px'}" class="progressBarStyle"></p-progressBar>
</div>
<div class="question-header">Запитання Клієнтів</div>
<div (click)="showForm(); addNewQuestion();" class="showFormBtn transitionStyle" id="showFormBtn" title="Запитати">
  <fa-icon [icon]="faQuestion" class=""></fa-icon>
</div>
<p-toast styleClass="custom-toast" [showTransitionOptions]="'800ms ease-out'"
         [hideTransitionOptions]="'800ms ease-out'"></p-toast>
<div class="questions-container">
  <div class="question-box" *ngFor="let questionItem of allQuestions">
    <div class="question-wrapper">
      <div class="question-item">
        <div class="question-icon">
          <fa-icon [icon]="faQuestionCircle"></fa-icon>
        </div>
        <div class="question-text">
          <div class="question-author">{{questionItem.question_author}}</div>
          <div class="question-date">{{questionItem.question_date}}</div>
          <div class="question-record">{{questionItem.question}}</div>
          <div *ngIf="authenticationService.isLoggedIn();" class="item-btn-container-table">
            <div class="editBtn" title="Відповісти" (click)="editQuestion(questionItem); showForm();">
              <fa-icon [icon]="faCommentDots"></fa-icon>
            </div>
            <div class="deleteBtn" title="Видалити"
                 (click)="editQuestion(questionItem); showDeleteDialog();">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="answer-item">
        <div class="answer-icon">
          <fa-icon [icon]="faCommentDots"></fa-icon>
        </div>
        <div class="answer-text">
          <div class="answer-author">Комфорт-Дім</div>
          <div class="answer-date">{{questionItem.answer_date}}</div>
          <div class="answer-record">{{questionItem.answer}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Комфорт-Дім" [(visible)]="displayForm" [responsive]="true" [maximizable]="true" [minY]="70"
          [modal]="true" [blockScroll]="true" [appendTo]="'body'"
          [focusOnShow]="false" [baseZIndex]="10000">
  <div class="question-form" id="questionForm" #questionForm>
    <div class="question-form-title" *ngIf="!authenticationService.isLoggedIn();">
      Маєте запитання?<br>
      Заповніть форму і ми вам відповімо.
    </div>
    <div class="question-form-title" *ngIf="!isNewQuestion && authenticationService.isLoggedIn();">Форма Для Відповіді
    </div>
    <div class="question-form-title" *ngIf="!isNewQuestion && authenticationService.isLoggedIn();">Запитання Від
      {{newOrEditedQuestion.question_author}}
    </div>
    <div class="question-form-title" *ngIf="isNewQuestion && authenticationService.isLoggedIn();">Ви Адмін.
      Хочете Поставити Собі Запитання?
    </div>
    <div class="question-line">
    </div>
    <fa-icon [icon]="faExclamationTriangle" class="alert-icon" *ngIf="!authenticationService.isLoggedIn();"></fa-icon>
    <div class="question-form-subtitle" *ngIf="!authenticationService.isLoggedIn();">
      Просимо вас дотримуватися правил коректності при формулюванні запитання.<br>
      Запитання, що не відповідають цим вимогам будуть видалені і залишені без відповіді.<br>
      Використовуйте своє ім'я і прізвище при заповненні форми.
    </div>
    <form autocomplete="off" #questionForm="ngForm">
        <span class="ui-float-label" *ngIf="isNewQuestion">
          <input id="float-input-first-name" type="text" size="30" pInputText name="firstname"
                 [(ngModel)]="userFirstName" [disabled]="!isNewQuestion"
                 pattern="[А-ЯІЇЄҐ]([А-ЯІЇЄҐ]*[а-яіїєґ]*[\' -]?)+" required>
          <label for="float-input-first-name">Ім'я</label>
          <fa-icon [icon]="faUser" class="transitionStyle"></fa-icon>
        </span>
      <span class="ui-float-label" *ngIf="isNewQuestion">
          <input id="float-input-last-name" type="text" size="30" pInputText name="lastname" [(ngModel)]="userLastName"
                 [disabled]="!isNewQuestion" pattern="[А-ЯІЇЄҐ]([А-ЯІЇЄҐ]*[а-яіїєґ]*[\' -]?)+" required>
          <label for="float-input-last-name">Прізвище</label>
          <fa-icon [icon]="faUser" class="transitionStyle"></fa-icon>
        </span>
      <span class="ui-float-label">
          <textarea id="question-textarea" pInputTextarea name="userQuestion" [(ngModel)]="newOrEditedQuestion.question"
                    [disabled]="!isNewQuestion" required></textarea>
          <label for="question-textarea">Ваше Запитання</label>
          <fa-icon [icon]="faQuestion" class="transitionStyle"></fa-icon>
      </span>
      <span class="ui-float-label" *ngIf="!isNewQuestion">
          <textarea id="question-textarea-answer" pInputTextarea name="userAnswer"
                    [(ngModel)]="newOrEditedQuestion.answer" required></textarea>
          <label for="question-textarea-answer">Відповідь на запитання</label>
          <fa-icon [icon]="faCommentDots" class="transitionStyle"></fa-icon>
      </span>
      <div class="form-alert" [hidden]="questionForm.valid">
        <div>
          <fa-icon [icon]="faExclamationTriangle"></fa-icon>
          Заповніть Всі Поля Коректно.
        </div>
      </div>
      <button *ngIf="isNewQuestion" pButton type="button" label="Запитати"
              (click)="addOrModifyQuestion(); displayForm = false;" [disabled]="!questionForm.valid"></button>
      <br>
      <button *ngIf="!isNewQuestion" pButton type="button" label="Відповісти"
              (click)="addOrModifyQuestion(); displayForm = false;"></button>
      <button pButton type="button" label="Скасувати" (click)="displayForm = false;"></button>
    </form>
  </div>
</p-dialog>

<p-dialog header="Підтвердіть видалення елемента" [(visible)]="displayDeleteDialog" [responsive]="true"
          [focusOnShow]="false"
          [maximizable]="false" [modal]="true" [blockScroll]="true" [appendTo]="'body'" [minY]="70"
          [baseZIndex]="10000">
  <div class="deleteDialogBox">
    <div class="deletion-icon">
      <fa-icon [icon]="faExclamationTriangle" class="transitionStyle"></fa-icon>
    </div>
    <h1>Справді видалити цю характеристику компанії?<br><br><span
      class="selectedDeletion"></span></h1>
    <div class="btn-container">
      <div class="delBtn transitionStyle" title="Видалити"
           (click)="deleteQuestion(); hideDeleteDialog();">
        <fa-icon [icon]="faCheck"></fa-icon>
      </div>
      <div class="cancelBtn transitionStyle" title="Скасувати" (click)="hideDeleteDialog();">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
    </div>
  </div>
</p-dialog>
