<div class="home-title transitionStyle">Коротка характеристика нашої компанії</div>

<div class="home-container transitionStyle">

  <div class="about-company transitionStyle">
    <img src="assets/images/logo_transparent.png" height="100">
    УК “Комфорт-Дім” – це компанія, що надає
    послуги з управління багатоквартирним
    будинком згідно з діючим законодавством. Наші
    клієнти співвласники житлових та нежитлових
    приміщень. Наша компанія забезпечує належне
    утримання спільного майна багатоквартирного
    будинку.<br><br>
    Ми орієнтовані на результат, добре знаємо та
    розуміємо Ваші очікування, спроможні
    організувати і налагодити управління та
    обслуговування відповідно до норм, стандартів,
    правил та Ваших побажань.
  </div>

  <div class="home-info-item transitionStyle">
    <div class="home-info-icon transitionStyle">
      <fa-icon [icon]="faHome"></fa-icon>
    </div>
    <div class="home-info-text transitionStyle">Будинків на обслуговуванні</div>
    <div class="home-info-value transitionStyle">85</div>
  </div>

  <div class="home-info-item transitionStyle">
    <div class="home-info-icon transitionStyle">
      <fa-icon [icon]="faBuilding"></fa-icon>
    </div>
    <div class="home-info-text transitionStyle">В тому числі будинків з ліфтами</div>
    <div class="home-info-value transitionStyle">35</div>
  </div>

  <div class="home-info-item transitionStyle">
    <div class="home-info-icon transitionStyle">
      <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
      <fa-icon [icon]="faLongArrowAltDown"></fa-icon>
    </div>
    <div class="home-info-text transitionStyle">Кількість ліфтів</div>
    <div class="home-info-value transitionStyle">109</div>
  </div>

  <div class="home-info-item transitionStyle">
    <div class="home-info-icon transitionStyle">
      <fa-icon [icon]="faCalculator"></fa-icon>
    </div>
    <div class="home-info-text transitionStyle">Загальна площа будинків</div>
    <div class="home-info-value transitionStyle">355 900 м<sup>2</sup></div>
  </div>

  <div class="home-info-item transitionStyle">
    <div class="home-info-icon transitionStyle">
      <fa-icon [icon]="faCity"></fa-icon>
    </div>
    <div class="home-info-text transitionStyle">Кількість квартир в будинках</div>
    <div class="home-info-value transitionStyle">6 868</div>
  </div>

  <div class="home-info-item transitionStyle">
    <div class="home-info-icon transitionStyle">
      <fa-icon [icon]="faWarehouse"></fa-icon>
    </div>
    <div class="home-info-text transitionStyle">Нежитлових приміщень</div>
    <div class="home-info-value transitionStyle">146</div>
  </div>

</div>
