<div class="home-title transitionStyle">Коротка характеристика нашої компанії</div>

<div class="home-container transitionStyle">

  <div class="about-company transitionStyle">
    <img src="assets/images/logo_transparent.png" height="100">
    УК “Комфорт-Дім” – це компанія, що надає
    послуги з управління багатоквартирним
    будинком згідно з діючим законодавством. Наші
    клієнти співвласники житлових та нежитлових
    приміщень. Наша компанія забезпечує належне
    утримання спільного майна багатоквартирного
    будинку.<br><br>
    Ми орієнтовані на результат, добре знаємо та
    розуміємо Ваші очікування, спроможні
    організувати і налагодити управління та
    обслуговування відповідно до норм, стандартів,
    правил та Ваших побажань.
  </div>

  <div class="characteristic-items" *ngFor="let companyCharacteristic of companyCharacteristics">
    <div class="home-info-item transitionStyle">
      <div class="home-info-icon transitionStyle">
        <fa-icon [icon]="faHome" *ngIf="companyCharacteristic.characteristic_type == 'Тип Характеристики (Будинків Загалом)'"></fa-icon>
        <fa-icon [icon]="faBuilding" *ngIf="companyCharacteristic.characteristic_type == 'Тип Характеристики (Будинків З Ліфтами)'"></fa-icon>
        <fa-icon [icon]="faLongArrowAltUp" *ngIf="companyCharacteristic.characteristic_type == 'Тип Характеристики (Ліфти)'"></fa-icon>
        <fa-icon [icon]="faLongArrowAltDown" *ngIf="companyCharacteristic.characteristic_type == 'Тип Характеристики (Ліфти)'"></fa-icon>
        <fa-icon [icon]="faCalculator" *ngIf="companyCharacteristic.characteristic_type == 'Тип Характеристики (Загальна Площа Будинків)'"></fa-icon>
        <fa-icon [icon]="faCity" *ngIf="companyCharacteristic.characteristic_type == 'Тип Характеристики (Кількість Квартир Загалом)'"></fa-icon>
        <fa-icon [icon]="faWarehouse" *ngIf="companyCharacteristic.characteristic_type == 'Тип Характеристики (Нежитлових Приміщень Загалом)'"></fa-icon>
        <fa-icon [icon]="faMarker" *ngIf="companyCharacteristic.characteristic_type == 'Тип Характеристики (Загальна Характеристика)'"></fa-icon>
      </div>
      <div class="home-info-text transitionStyle">{{companyCharacteristic.characteristic}}</div>
      <div class="home-info-value transitionStyle">{{companyCharacteristic.characteristic_value}}</div>
    </div>
  </div>

</div>
