<div class="progressSpinnerBox" [hidden]="!isDataLoading">
  <p-progressBar mode="indeterminate" [style]="{'height': '10px'}" class="progressBarStyle"></p-progressBar>
</div>
<div class="notifications-header">Оголошення від "Комфорт-Дім"</div>
<div *ngIf="authenticationService.isLoggedIn();" (click)="showForm(); addNewNotification();"
     class="showFormBtn transitionStyle" id="showFormBtn" title="Додати Оголошення">
  <fa-icon [icon]="faBell" class=""></fa-icon>
</div>
<p-toast styleClass="custom-toast" [showTransitionOptions]="'800ms ease-out'"
         [hideTransitionOptions]="'800ms ease-out'"></p-toast>
<div class="notifications-container">
  <div class="notification-box" *ngFor="let notificationItem of allNotifications">
    <div class="notifications-item">
      <div class="notifications-icon">
        <fa-icon [icon]="faBell"></fa-icon>
      </div>
      <div class="notifications-text">
        <div class="notification-author">Комфорт-Дім</div>
        <div class="notification-date">{{notificationItem.notification_date}}</div>
        <div class="notification-record">{{notificationItem.notification}}</div>
        <div *ngIf="authenticationService.isLoggedIn();" class="item-btn-container-table">
          <div class="editBtn" title="Редагувати" (click)="editNotification(notificationItem); showForm();">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
          </div>
          <div class="deleteBtn" title="Видалити"
               (click)="editNotification(notificationItem); showDeleteDialog();">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>


<p-dialog header="Форма для оголошень" [(visible)]="displayForm" [responsive]="true" [maximizable]="true" [minY]="70"
          [modal]="true" [blockScroll]="true" [appendTo]="'body'" [focusOnShow]="false" [baseZIndex]="10000">
  <div class="question-form" id="questionForm" #questionForm>
    <div class="question-form-title">
      Введіть текст оголошення в полі нижче.
    </div>
    <div class="question-line">
    </div>
    <form autocomplete="off" #notificationForm="ngForm">
      <span class="ui-float-label">
          <textarea id="question-textarea" pInputTextarea name="notificationText"
                    [(ngModel)]="newOrEditedNotification.notification" required></textarea>
          <label for="question-textarea">Текст Оголошення</label>
          <fa-icon [icon]="faBell" class="transitionStyle"></fa-icon>
      </span>
      <div class="form-alert" [hidden]="notificationForm.valid">
        <div>
          <fa-icon [icon]="faExclamationTriangle"></fa-icon>
          Заповніть Всі Поля
        </div>
      </div>
      <button pButton type="button" label="Опублікувати" (click)="addOrModifyNotification(); displayForm = false;"
              [disabled]="!notificationForm.valid"></button>
      <br>
      <button pButton type="button" label="Скасувати" (click)="displayForm = false;"></button>
    </form>
  </div>
</p-dialog>


<p-dialog header="Підтвердіть видалення елемента" [(visible)]="displayDeleteDialog" [responsive]="true"
          [focusOnShow]="false"
          [maximizable]="false" [modal]="true" [blockScroll]="true" [appendTo]="'body'" [minY]="70"
          [baseZIndex]="10000">
  <div class="deleteDialogBox">
    <div class="deletion-icon">
      <fa-icon [icon]="faExclamationTriangle" class="transitionStyle"></fa-icon>
    </div>
    <h1>Справді видалити цю характеристику компанії?<br><br><span
      class="selectedDeletion"></span></h1>
    <div class="btn-container">
      <div class="delBtn transitionStyle" title="Видалити"
           (click)="deleteNotification(); hideDeleteDialog();">
        <fa-icon [icon]="faCheck"></fa-icon>
      </div>
      <div class="cancelBtn transitionStyle" title="Скасувати" (click)="hideDeleteDialog();">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
    </div>
  </div>
</p-dialog>
