$darkSiteColor: #403121;
$lightSiteColor: #ed9728;
$veryLightSiteColor: #ffbc49;
$ultraLightSiteColor: #ffffbf;
$middleSiteColor: #a65e09;
$blackSiteColor: #000000;
$whiteSiteColor: #ffffff;

.transitionStyle
{
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}
:host ::ng-deep .custom-toast .ui-toast-message-success {
  color: $darkSiteColor !important;
  background-color: $lightSiteColor !important;
  border: 2px solid $darkSiteColor !important;
  font-family: 'Montserrat Alternates', sans-serif;
}
:host ::ng-deep .custom-toast .ui-toast-message-error {
  color: $lightSiteColor !important;
  background-color: $darkSiteColor !important;
  border: 2px solid $lightSiteColor !important;
  font-family: 'Montserrat Alternates', sans-serif;
}
:host ::ng-deep .custom-toast .ui-toast-summary
{
  font-size: 20px !important;
}
:host ::ng-deep .custom-toast .ui-toast-detail
{
  text-decoration-style: dotted !important;
}
:host ::ng-deep .custom-toast .ui-toast-message-success .ui-toast-close-icon {
  color: $darkSiteColor !important;
}
:host ::ng-deep .custom-toast .ui-toast-message-error .ui-toast-close-icon {
  color: $lightSiteColor !important;
}
.progressSpinnerBox
{
  width: 100%;
  position: fixed;
  top: 65px;
  left: 0;
}
:host ::ng-deep
{
  .progressBarStyle .ui-progressbar
  {
    background-color: $ultraLightSiteColor !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }

  .progressBarStyle .ui-progressbar .ui-progressbar-label
  {
    color: $darkSiteColor !important;
  }

  .progressBarStyle .ui-progressbar .ui-progressbar-value
  {
    background: $darkSiteColor !important;
  }
}
.contact-container
{
  width: 1400px;
  min-height: calc(100vh - 64px);
  margin: 0 auto;
}
.contact-title
{
  font-family: 'Montserrat Alternates', sans-serif;
  color: $darkSiteColor;
  font-size: 32px;
  width: calc(100% - 6px);
  text-align: center;
  background: rgb(255,255,191);
  background: -moz-linear-gradient(left, rgba(255,255,191,1) 0%, rgba(255,255,191,1) 15%, rgba(255,188,73,1) 49%, rgba(255,188,73,1) 51%, rgba(255,255,191,1) 85%, rgba(255,255,191,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,191,1) 0%,rgba(255,255,191,1) 15%,rgba(255,188,73,1) 49%,rgba(255,188,73,1) 51%,rgba(255,255,191,1) 85%,rgba(255,255,191,1) 100%);
  background: linear-gradient(to right, rgba(255,255,191,1) 0%,rgba(255,255,191,1) 15%,rgba(255,188,73,1) 49%,rgba(255,188,73,1) 51%,rgba(255,255,191,1) 85%,rgba(255,255,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffbf', endColorstr='#ffffbf',GradientType=1 );
  margin: 20px 0 20px 0;
  padding: 20px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contact-info-item
{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
  border: 3px solid $darkSiteColor;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .contact-info-icon
  {
    width: 200px;
    height: 200px;
    background-color: rgba(64, 49, 33, 1);
    color: $lightSiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;

  }
  .contact-info-text
  {
    width: calc(100% - 200px);
    background-color: rgba(255, 188, 73, .8);
    color: $darkSiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 48px;
    padding: 20px;
  }
}

@media screen and (max-width: 1450px)
{
  .contact-container
  {
    width: 1200px;
  }
  .contact-info-item
  {
    .contact-info-text
    {
      width: calc(100% - 200px);
      font-size: 40px;
    }
  }
}
@media screen and (max-width: 1250px)
{
  .contact-container
  {
    width: 1000px;
  }
  .contact-info-item
  {
    .contact-info-text
    {
      width: calc(100% - 200px);
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 1050px)
{
  .contact-title
  {
    width: 100%;
  }
  .contact-container
  {
    width: 100%;
  }
  .contact-info-item
  {
    width: 100%;
    border-right: none;
    border-left: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .contact-info-text
    {
      width: calc(100% - 200px);
    }
  }
}
@media screen and (max-width: 830px)
{
  .contact-info-item
  {
    .contact-info-text
    {

    }
  }
}
@media screen and (max-width: 800px)
{
  .contact-info-item
  {

    .contact-info-icon.credit-card
    {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .contact-info-text.bank-number
    {
      width: 100%;
    }
  }
}
@media screen and (max-width: 650px)
{
  .contact-title
  {
    font-size: 32px;
  }
  .contact-info-item
  {
    .contact-info-text
    {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 600px)
{
  .contact-title
  {
    font-size: 20px;
  }
}
@media screen and (max-width: 570px)
{
  .contact-info-item
  {
    .contact-info-icon.credit-card
    {
      height: 150px;
    }
    .contact-info-icon
    {
      width: 150px;
      height: 150px;
      font-size: 75px;
    }
    .contact-info-text
    {
      width: calc(100% - 150px);
    }
  }
}
@media screen and (max-width: 480px)
{
  .contact-info-item
  {
    .contact-info-text
    {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 410px)
{
  .contact-info-item
  {
    .contact-info-icon.credit-card
    {
      height: 120px;
    }
    .contact-info-icon
    {
      width: 120px;
      height: 120px;
      font-size: 60px;
    }
    .contact-info-text
    {
      width: calc(100% - 120px);
      padding: 10px;
    }
  }
}
@media screen and (max-width: 340px)
{
  .contact-info-item
  {
    .contact-info-icon
    {
      width: 100px;
      height: 100px;
      font-size: 50px;
    }
    .contact-info-text
    {
      width: calc(100% - 100px);
      font-size: 14px;
    }
  }
}
