<div class="progressSpinnerBox" [hidden]="!isDataLoading">
  <p-progressBar mode="indeterminate" [style]="{'height': '10px'}" class="progressBarStyle"></p-progressBar>
</div>
<p-toast styleClass="custom-toast" [showTransitionOptions]="'800ms ease-out'"
         [hideTransitionOptions]="'800ms ease-out'"></p-toast>
<div class="services-title transitionStyle">Ми надаємо такі послуги:</div>

<div class="services-container">

  <div class="service-item" *ngFor="let serviceRecord of allServices">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faBroom" *ngIf="serviceRecord.service_type == 'Тип Послуги (Прибирання)'"></fa-icon>
      <fa-icon [icon]="faBath" *ngIf="serviceRecord.service_type == 'Тип Послуги (Водопостачання)'"></fa-icon>
      <fa-icon [icon]="faTint" *ngIf="serviceRecord.service_type == 'Тип Послуги (Водовідведення)'"></fa-icon>
      <fa-icon [icon]="faTemperatureHigh" *ngIf="serviceRecord.service_type == 'Тип Послуги (Теплопостачання)'"></fa-icon>
      <fa-icon [icon]="faBolt" *ngIf="serviceRecord.service_type == 'Тип Послуги (Електропостачання)'"></fa-icon>
      <fa-icon [icon]="faWater" *ngIf="serviceRecord.service_type == 'Тип Послуги (Зливова Каналізація)'"></fa-icon>
      <fa-icon [icon]="faHouseDamage" *ngIf="serviceRecord.service_type == 'Тип Послуги (Внутрішньоквартирні Мережі)'"></fa-icon>
      <fa-icon [icon]="faWind" *ngIf="serviceRecord.service_type == 'Тип Послуги (Димовентиляційні Канали)'"></fa-icon>
      <fa-icon [icon]="faHammer" *ngIf="serviceRecord.service_type == 'Тип Послуги (Технологічні Пристрої Будинків)'"></fa-icon>
      <fa-icon [icon]="faTools" *ngIf="serviceRecord.service_type == 'Тип Послуги (Системи Диспетчеризації)'"></fa-icon>
      <fa-icon [icon]="faLightbulb" *ngIf="serviceRecord.service_type == 'Тип Послуги (Освітлення)'"></fa-icon>
      <fa-icon [icon]="faToolbox" *ngIf="serviceRecord.service_type == 'Тип Послуги (Обслуговування Ліфтів)'"></fa-icon>
      <fa-icon [icon]="faBriefcase" *ngIf="serviceRecord.service_type == 'Тип Послуги (Загальний Тип Послуги)'"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      {{serviceRecord.service_name}}
    </div>
  </div>

</div>
