<div class="services-title transitionStyle">Ми надаємо такі послуги:</div>

<div class="services-container">
  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faBroom"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Прибирання прибудинкової території, підвалів, технічних поверхів та покрівель.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faBath"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Технічне обслуговування та ремонт внутрішньобудинкових систем холодного водопостачання.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faTint"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Технічне обслуговування та ремонт внутрішньобудинкових систем водовідведення.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faTemperatureHigh"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Технічне обслуговування та ремонт внутрішньобудинкових систем теплопостачання.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faBolt"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Технічне обслуговування та ремонт внутрішньобудинкових систем електропостачання.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faWater"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Технічне обслуговування та ремонт внутрішньобудинкових систем зливової каналізації.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faHouseDamage"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Ліквідація аварій у внутрішньоквартирних мережах.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faWind"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Обслуговування димовентиляційних каналів.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faHammer"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Поточний ремонт конструктивних елементів та технічних пристроїв будинків.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faTools"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Обслуговування систем диспетчеризації.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faLightbulb"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Освітлення місць загального користування.
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon transitionStyle">
      <fa-icon [icon]="faToolbox"></fa-icon>
    </div>
    <div class="service-description transitionStyle">
      Технічне обслуговування та енергопостачання ліфтів.
    </div>
  </div>
</div>
