
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$newProjectDecember19-primary: mat-palette($mat-indigo);
$newProjectDecember19-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$newProjectDecember19-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$newProjectDecember19-theme: mat-light-theme($newProjectDecember19-primary, $newProjectDecember19-accent, $newProjectDecember19-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($newProjectDecember19-theme);

/* You can add global styles to this file, and also import other style files */

$darkSiteColor: #403121;
$lightSiteColor: #ed9728;
$veryLightSiteColor: #ffbc49;
$ultraLightSiteColor: #ffffbf;
$middleSiteColor: #a65e09;
$blackSiteColor: #000000;
$whiteSiteColor: #ffffff;

html,
body
{
  //height: 100%;
  margin: 0;
}
body
{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background-image: url('/assets/backgrounds/light-tile.gif');
}
.ui-dialog
{
  font-family: 'Montserrat Alternates', sans-serif !important;
}
.ui-dialog-titlebar
{
  background-color: $darkSiteColor !important;
  color: $lightSiteColor !important;
  border-color: $lightSiteColor !important;
  cursor: move;
}
.ui-dialog-title
{
  cursor: default;
}
.ui-dialog-titlebar-icon
{
  color: $lightSiteColor !important;
}
.ui-dialog-content
{
  background-color: $darkSiteColor !important;
  border-color: $lightSiteColor !important;
}
.ui-inputtext,
.ui-dropdown
{
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: $veryLightSiteColor !important;
  border-color: $middleSiteColor !important;
  color: $darkSiteColor !important;
}
.contactDropdown > .ui-dropdown
{
  padding: 7px 10px 7px 0;
  margin-top: 20px;
  width: 100% !important;
  //height: 45px;
}
//.ui-inputtext.searchInput
//{
//  height: 45px;
//}
li.ui-state-highlight > span
{
  color: $middleSiteColor;
}
.ui-dropdown-trigger
{
  background-color: $middleSiteColor !important;
}
.ui-dropdown-panel
{
  border-color: $middleSiteColor !important;
}
.ui-dropdown-item
{
  background-color: $veryLightSiteColor !important;
  font-family: 'Montserrat Alternates', sans-serif;
}
.ui-dropdown-item:hover
{
  background-color: $lightSiteColor !important;
}
.ui-dropdown-trigger-icon
{
  color: $veryLightSiteColor !important;
}
